<h2>Sign in</h2>

<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :email, placeholder: "Email" %> <br>
  <%= f.password_field :password, placeholder: "Password" %><br><br>
  <%= f.submit 'Sign in' %><br>
<% end %>