// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-show-address {
  height: 30px;
  overflow: hidden;
}

.order-show-address:hover {
  height: 100px; 
  overflow: visible;
}

